* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: rgb(225, 225, 225); */
  background: #50a3a2;
}

code {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.image-wrapper img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.greeting {
  font-size: 25px;
  font-family: cursive;
  text-align: center;
}
.contact-title {
  text-align: center;
}

.card {
  margin-top: 30px;
  height: 200px;
  width: 300px;
  position: relative;
  border-radius: 10px;
}
.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 50%;
}
.top {
  background-color: black;
  height: 75px;
  padding: 30px 20px;
  border-radius: 10px 10px 0px 0px;
}
.top .avatar {
  position: absolute;
  right: 20px;
  top: 20px;
}
.top h3 {
  color: white;
}

.content {
  position: absolute;
  bottom: 20px;
  padding: 20px;
}

.first-card {
  background-color: aquamarine;
}
.second-card {
  background-color: rgb(85, 200, 161);
}
.third-card {
  background-color: rgb(7, 187, 127);
}

/* Emoji Media style start here */
.dictionary {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.term {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  padding: 20px;
  height: 300px;
  text-align: center;
  max-width: 490px;
}
.dictionary .term .emoji {
  font-size: 60px;
  display: flex;
  flex-direction: column;
}
.dictionary .term span {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}

/* Conditional Rendering */

.container {
  margin: 10% auto;
  padding: 80px 0;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
}

form {
  padding: 20px 0;
  position: relative;
}
form input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

form button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #50a3a2;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}
/* Counter style start here */

.counter h2 {
  font-size: 22px;
}
.counter button {
  font-size: 22px;
  display: flex;
  width: 100px;
  margin-top: 15px;
  justify-content: center;
}
