* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: sans-serif;
}

code {
  font-family: sans-serif;
}
.image-wrapper img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.greeting {
  font-size: 25px;
  font-family: cursive;
  text-align: center;
}

.card {
  margin-top: 30px;
}
.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.first-card {
  background-color: aquamarine;
}
.second-card {
  background-color: rgb(25, 114, 85);
}
.third-card {
  background-color: rgb(7, 187, 127);
}
