body {
  margin: 0;
  font-family: sans-serif;
}

code {
  font-family: sans-serif;
}
.image-wrapper img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.greeting {
  font-size: 25px;
  font-family: cursive;
  text-align: center;
}
